
SAXS/sucesso.png
SAXS/SAXS_test.dat
SAXS/SAXS_test_2.dat
.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
.idea/Miscellaneous.iml
.idea/workspace.xml
.idea/misc.xml
.idea/Miscellaneous.iml
.idea/workspace.xml
